.wrapper {
  min-height: 100vh;
  background: cornflowerblue;

  .mainTitle {
    display: flex;
    justify-content: center;
    padding: 2%;
    color: aquamarine;
    font-size: 3rem;
  }

  main {
    display: flex;
    justify-content: center;
  }
}
